*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    background: #080808;
    color: #fff;
}
/* musime dt hashtag protoze to je id */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/black.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    /* zhora a potom zleva */
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 10px 20px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: #0097b2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 13%;
    font-size: 30px;
    text-align: center;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #0097b2;
}
.aboutMe{
    margin-top: 30px;
    font-size: 20px;
}
.scroll-downs {
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 100px;
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
  .btnhome{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0097b2;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.4s;
  }
  .btnhome:hover{
    background: #0097b2;
    transform: translateY(-2.5px);
}
/* <!-- ----------ABOUT---------- --> */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:stretch;
}
.about-col-1{
    flex-basis: 40%;
}
.about-col-1 img{
    width: 405px;
    border-radius: 15px;
    margin-top: 20px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0097b2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #0097b2;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;
}
.skill-bars{
    padding: 14px 32px;
    width: 600px;
    background: #262626;
    /* box-shadow: 5px 5px 20px #262626; */
    border-radius: 15px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 15px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 8px;
    width: 100%;
    background: #fff;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.05),
                0 1px rgba(0, 0, 0, 0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #0097b2;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.csharp span{
    width: 85%;
  }
  .bar .progress-line.cplusplus span{
    width: 85%;
  }
  .bar .progress-line.python span{
    width: 100%;
  }
  .bar .progress-line.html span{
    width: 100%;
  }
  
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.csharp span::after{
    content: "Skilled";
  }
  .progress-line.cplusplus span::after{
    content: "Skilled";
  }
  .progress-line.python span::after{
    content: "Advanced";
  }
  .progress-line.html span::after{
    content: "Advanced";
  }
  hr {
    border: none;
    border-top: 2px solid #0097b2; /* set the width and color of the line */
    width: 15%; /* set the width of the line */
  }
    /* margin: 10px auto; center the line and add some space */
    /* animation: slide 1s ease forwards; add animation */
  /* }
  @keyframes slide{
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
} */
/* <!-- ----------PORTFOLIO---------- --> */
#portfolio{
    padding: 50px 0;
}
.project{
    margin-top: 7%;
    font-size: 30px;
    text-align: center;
}
.project h1{
    font-size: 35px;
}
.project p{
    margin-top: 10px;
    font-size: 20px;
}
.btn-three{
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid #0097b2;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    transition: transform 0.4s;
    font-size: 20px;
}
.btn-three:hover{
    background: #0097b2;
    transform: translateY(-2.5px);
}

.row-one, .row-two{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:stretch;
}
.row-two{
    padding-top: 50px;
}
.row-one{
    padding-top: 80px;
}
.web-img-one, .web-img-two{
    flex-basis: 60%;
}
.web-img-one img, .web-img-two img{
    width: 630px;
    border-radius: 15px;
    margin-top: 20px;
}
.web-des-one, .web-des-two{
    flex-basis: 40%;
}
.web-des-two h1, .web-des-one h1{
    font-size: 25px;
    padding-top: 80px;
}
.web-des-two p, .web-des-one p{
    margin-top: 20px;
}

.btn-two{
    display: flex;
    /* margin: 50px auto; */
    width: fit-content;
    border: 1px solid #0097b2;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    margin-left: 0px;
    margin-top: 30px;
    transition: transform 0.4s;

}
.btn-two:hover{
    background: #0097b2;
    transform: translateY(-2.5px);
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    /* height: 600px; */
    width: 350px;
    margin: 0 auto;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
/* text pres work images */
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#0097b2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #0097b2;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0097b2;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    transition: transform 0.4s;
}
.btn:hover{
    background: #0097b2;
    transform: translateY(-2.5px);
}
/* <!-- ----------CONTACT---------- --> */

.subtit{
    font-size: 60px;
    margin-top: 0px;
}
.contact-left{
    flex-basis: 100%;
    text-align: center;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #0097b2;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
    margin-bottom: 75px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    /* margin-right: 15px; */
    margin-left: 5px;
    margin-right: 5px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #0097b2;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #0097b2;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px; 
}
form .btn2{
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;

}
.copyright i{
    color: #0097b2;
}

/* <!-- ----------ELEMENTARY---------- --> */
.elementary img{
    width: 800px;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
}

/* <!-- ----------SMALL SCREEN CSS---------- --> */
nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/mobile-background\ \(1\).png);
        height: 75vh;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
        margin-top: 150px;
    }
    .header-text h1{
        font-size: 30px;
    }
    
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #0097b2;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .web-des-one, .web-img-one{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
        width: 230px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 13px;
    }
    .about-col-1 img{
        width: 260px;
        margin-top: 430px;
        display: block;
        margin: 0 auto;
    }
    .scroll-downs{
        display: none;
    }
    .skill-bars{
        width: 290px;
        display: block;
        margin: 0 auto;
    }
}